//打印100~200之间的素数

#include <stdio.h>
#include <math.h>

int main ()
{
	int i,j,k;
	
	for(i=101;i<200;i++)
	{
		k=sqrt(i);
		for (j=2;j<=k;j++)
		
			if (i%j==0)
				break;
			if (j>=k+1)
				printf("%d\n",i);
		
	}
	return 0;
}
